@model BTLWeb.Models.TblPost

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TblPost</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostImg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostImg)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostAuthor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostAuthor)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostCreateAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostCreateAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Users)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Users.UsersName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PostId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
