@model BTLWeb.Models.TblPost

@{
    ViewData["Title"] = "PostDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var Post = (List<BTLWeb.Models.TblPost>)ViewBag.Post;
    //var Comment = (List<BTLWeb.Models.TblComment>)ViewBag.Comment;
    TblPost? post = ViewData["TblPost"] as TblPost;
}
@using Microsoft.AspNetCore.Http


<div class="container">
    <div style="border:1px solid gray; padding:10px;" class="post-card">
        <div class="post-info">
            <div class="post-author">
                <h3>Được tạo bởi - @Model.Users.UsersName</h3>
            </div>
            <div class="post-create-at">
                <p>Thời gian tạo - @Model.PostCreateAt</p>
            </div>
        </div>
        <div class="post-category">
            <h4>@Model.Category.CategoryName</h4>
        </div>
        <div class="post-image">
            <img src="/PostImg/@Model.PostImg"/>
        </div>
        <div class="post-title">
            <h3>@Model.PostTitle</h3>
        </div>
        <div class="post-content">
            <p>@Model.PostContent</p>
        </div>
        
    </div>
    
        <h6>Lượt thích: <span id="favCount">@ViewBag.FavCount</span></h6>
    
        @if(@Context.Session.GetInt32("UsersId") != null)
        {
            <div id="FavButton">
            @if (ViewBag.Fav == 1)
            {
            <i class="bi bi-heart" onclick="toggleFav('@Html.DisplayFor(model => model.PostId)')"></i>
            }
            else
            {
            <i class="bi bi-heart-fill" onclick="toggleFav('@Html.DisplayFor(model => model.PostId)')"></i>
            }
            </div>
        }
        
    <div class="post-comment">
        <div class="" id="comments">
            @foreach (var item in post?.TblComments ?? new List<TblComment>())
            {
                <div class="">
                    <h3>@item.Users?.UsersName</h3>
                    <p>@item.CommentText</p>
                    <p>@item.CreateAt</p>
                </div>
            }
        </div>
        @if (@Context.Session.GetInt32("UsersId") != null)
        {
            <div class="d-flex flex-column gap-3">
            <div class="d-flex justify-content-between align-items-center">
                <h4>Để lại bình luận</h4>
                <button class="btn btn-primary" onclick="AddComments()">Gửi</button>
            </div>
            <textarea class="form-control" rows="3" id="comments-content"></textarea>
        </div>            
        }

    </div>
</div>
<script>
    function AddComments(){
        var id = @post?.PostId;
        var comments = document.getElementById("comments-content").value;
        fetch('/Home/AddComments', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json',
            },
            body: JSON.stringify({
                id: id,
                comments: comments
            })
        })
            .then(response => response.json())
            .then(data => {
                if (data.success)
                    location.reload();
            });
    }

    function toggleFav(postId){
        $.ajax({
            url: '/Account/Favorite?postId=' + postId,
            type: 'POST',
            success: function (data){
                if(data.isFav){
                    $('#FavButton').html('<i class="bi bi-heart-fill" onclick="toggleFav(\'' + postId + '\')"></i>');
                }else{
                    $('#FavButton').html('<i class="bi bi-heart" onclick="toggleFav(\'' + postId + '\')"></i>');
                }
                updateFavCount(postId);
            }
        });
    }

    function updateFavCount(postId){
        $.ajax({
            url: '/Account/GetFavCount?id=' + postId,
            type: 'GET',
            success: function (data) {
                $('#favCount').text(data.favCount);
            }
        });
    }

     
</script>


        @* <script>
            $("#btnComment").click(function(){
                $.ajax({
                    type:'post',
                    url:'',
                    data: $('$commentForm').serialize()
                })
            })
        </script> *@