@model BTLWeb.Models.TblPost

@{
    ViewData["Title"] = "PostDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Post = (List<BTLWeb.Models.TblPost>)ViewBag.Post;
    var Comment = (List<BTLWeb.Models.TblComment>)ViewBag.Comment;
}

<div class="container">
    <div style="border:1px solid gray; padding:10px;" class="post-card">
        <div class="post-info">
            <div class="post-author">
                <h3>Được tạo bởi - @Model.PostAuthor</h3>
            </div>
            <div class="post-create-at">
                <p>Thời gian tạo - @Model.PostCreateAt</p>
            </div>
        </div>
        <div class="post-category">
            <h4>@Model.Category.CategoryName</h4>
        </div>
        <div class="post-image">
            <img src="/PostImg/@Model.PostImg"/>
        </div>
        <div class="post-title">
            <h3>@Model.PostTitle</h3>
        </div>
        <div class="post-content">
            <p>@Model.PostContent</p>
        </div>
    </div>
    <div class="post-interact">
        @if (ViewBag.Like == 1)
        {
            <div class="col-lg-4">
                <div class="posts-links">
                    <a href="@Url.Action("Favorite", "Account")?postid=@Html.DisplayFor(model => model.PostId)"><img class="like-icon" src="~/image/LikeIconBlack.jpg" alt=""></a>
                    
                </div>
            </div>
        }
        else
        {
            <div class="col-lg-4">
                <div class="posts-links">
                    <a href="@Url.Action("Favorite", "Account")?postid=@Html.DisplayFor(model => model.PostId)"><img class="like-icon" src="~/image/LikeIconBlue.jpg" alt=""></a>
                    
                </div>
            </div>
        }
        <form>
        <div id="commentForm">
            <label>Để lại bình luận</label>
            <textarea class="form-control"></textarea>
            <button class="btn btn-success" id="btnComment" type="button">Gửi bình luận</button>
        </div>
        </form>
    </div>
</div>

        @* <script>
            $("#btnComment").click(function(){
                $.ajax({
                    type:'post',
                    url:'',
                    data: $('$commentForm').serialize()
                })
            })
        </script> *@