@model IEnumerable<BTLWeb.Models.TblUser>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Tên người dùng
            </th>
            <th>
                Email
            </th>
            <th>
                Mật khẩu
            </th>
            <th>
                Quyền
            </th>
            <th>
                Xử lý
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.UsersId
                </td>
                <td>
                    @item.UsersName
                </td>
                <td>
                    @item.UsersEmail
                </td>
                <td>
                    @item.UsersPass
                </td>
                <td>
                    @item.UsersRole
                </td>
                
                <td>
                    <a>Edit</a>
                    @* <a asp-action="Edit" asp-route-id="@item.PostId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.PostId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.PostId">Delete</a> *@
                </td>
            </tr>
        }
    </tbody>
</table>

